.header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 6px 10px rgb(0 0 0 / 40%);
    display: flex;
    background-color: #c4c4c4;
    z-index: 99;
    flex-direction: row;
    height: 80px;
    line-height: 80px;

}